body {
    text-align: center;
}
#ring {
    width: 50px;
    margin-bottom: 270px;
    cursor: pointer;
}
.none {
    display: none;
}
button {
    padding: 20px;
    cursor: pointer;
    margin: 10px;
}
#piwo img {
    width: 300px;
}