body {
    text-align: center;
}
#ring {
    width: 50px;
    margin-bottom: 270px;
    cursor: pointer;
}
button {
    padding: 20px;
    cursor: pointer;
    margin: 10px;
}
img {
    width: 300px;
}
#doors {
    width: 149px;
}